<script>
	var count = 0;

	$(document).ready(function(){
	});

	function addFileField(){
			count = count + 1;

			var newInput = '<input id="project_images_attributes_' + count + '_file" name="project[images_attributes][' + count + '][file]" type="file" /><br /><br />'

		 	$("#images_fields").append(newInput);
	};
</script>

<%= form_for @project, :multipart => true do |form| %>

	<%= form.label :name %><br />
	<%= form.text_field :name %><br /><br />

	<div id="images_fields">
		<%= form.fields_for :images, @image do |images_fields| %>

				<!--<%= images_fields.label :cover, "Capa" %><br />
			  <%= images_fields.file_field :cover %><br /><br />-->

			  <%= images_fields.file_field :file %><br /><br />


		<% end %>
	</div>

	<input type="button" value="Mais arquivos" onclick="addFileField()"/><br />

  <%= form.submit "Submit" %><br />
<% end %>