<%= form_for(@member) do |f| %>

  <fieldset>
    <legend>Dados pessoais</legend>

    <div class="field">
      <%= f.label :name, "Nome" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :facebook, "Facebook" %><br />
      <%= f.text_field :facebook %>
    </div>
    <div class="field">
      <%= f.label :twitter, "Twitter" %><br />
      <%= f.text_field :twitter %>
    </div>
    <div class="field">
      <%= f.label :linkedin, "LinkedIn" %><br />
      <%= f.text_field :linkedin %>
    </div>
    <div class="field">
      <%= f.label :github, "Github" %><br />
      <%= f.text_field :github %>
    </div>
    <div class="field">
      <%= f.label :telefone, "Telefone" %><br />
      <%= f.text_field :telefone %>
    </div>

    <div class="field">
      <%= f.label :bio , "Sobre o membro" %><br />
      <%= f.text_area :bio %>
    </div>
  </fieldset>

  <%=  f.fields_for :profile do |ff| %>
    <fieldset>
      <legend>Informações do cadastro</legend>
        <div class="field">
          <%= ff.label :email, "Email" %><br />
          <%= ff.text_field :email %>
        </div>
        <div class="field">
          <%= ff.label :password, "Senha" %><br />
          <%= ff.text_field :password %>
        </div>
        <div class="field">
          <%= ff.label :password_confirmation, "Confirmar senha" %><br />
          <%= ff.text_field :password_confirmation %>
        </div>
    </fieldset>
  <%  end %> 

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>