<%= render "devise/shared/topbar"%>

<%= form_tag "create", :method => :post do %>
  
  <fieldset>
    <legend>Informações do cadastro</legend>
    <div class="field">
      <%= label_tag :email, "Email do membro" %><br/>
      <%= email_field_tag :email %>
    </div>
  </fieldset>

  <div class="actions">
  	<%= submit_tag "Criar membro" %>
  </div>

<% end %>