<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>

<%= gravatar_for @member %><br/>
<%= @member.name %><br/>
<%= @member.profile.email %><br/>
<%= @member.facebook %><br/>
<%= @member.twitter %><br/>
<%= @member.linkedin %><br/>
<%= @member.github %><br/>
<%= @member.telefone %><br/>
<pre><%= @member.bio %></pre>
